*{
  margin: 0;
  padding: 0;
}

.demoWrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 5rem;
}

.demoWrapper img{
  height: 20rem;
}

.demoWrapper p {
  font-size: 1.4rem;
}

.demoWrapper button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 3rem;
}

.demoWrapper button:hover{
   background-color: orangered;
   color: white;
   cursor: pointer;
   border: none;
}